html {
  font-family: "Esteban", serif;
  color: #495057;
  background-image: linear-gradient(#a5d8ff, #fff);
  background-repeat: no-repeat;
  height: 100%;
}

.nav-bar {
  font-size: 20px;
  justify-content: start;
  display: flex;
  gap: 48px;
  margin-left: 50px;
  margin-top: 25px;
}

.nav-link {
  padding: 8px;
  border-radius: 35%;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #495057;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: none;
  color: #495057;
  cursor: pointer;
  background: #d0ebff;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
}
