.contact-btn {
  font-weight: bold;
  color: #F1F6F5;
  position: relative;
}


.form-container {
  animation: fade_in 2s;
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  background-color: #e4e0d5e1;
  height: fit-content;
  width: 60%;
}

.linked-in {
  margin-right: 5%;
  color: #00337C;
}

.github {
  color: #00337C;
}

form {
  font-family: "Poppins", sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1vw 2vw;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 4px 0;
  padding: 5px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #F2F7A1;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #F2F7A1;
  cursor: pointer;
}

input[type="text"], input[type="email"], input[type="test"], textarea{
  font-family: "Poppins", sans-serif;
}


.self-port-king {
  position: absolute;
  width: 35vw;
  height: 50vh;
  padding-right: 10%;
  padding-top: 20%;
  animation: fade_in 3s;
}

.submit {
  font-family: "Poppins", sans-serif;
}

