html {
  font-family: "Poppins", sans-serif;
  color: #285430;
  background-image: linear-gradient(#E5D9B6, #A4BE7B);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

.nav-bar {
  font-size: 20px;
  justify-content: start;
  display: flex;
  gap: 48px;
  margin-left: 50px;
  margin-top: 25px;
}

.nav-link {
  padding: 8px;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #285430;
}

.nav-link:hover,
.nav-link:active {
  animation: underline_fade_in linear 1 normal forwards;;
}

.experience-btn {
  font-weight: bold;
  color: #153462!important;
}



.timeline {
  margin: 0 auto; 
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
}


.timeline_component {
  margin: 0 20px 20px 20px;
}

.timeline_component_bg {
  padding: 1.5em;
  background: rgba(255,255,255, 0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.timeline_date {
color: #087f5b;
}

.timeline_date_right {
  text-align: right;
}


.timeline_middle {
  position: relative;
  background: #12b886;
}


.timeline_point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #12b886;
  border-radius: 10%;
}


.timeline_point_bottom {
  top: initial;
  bottom: 0;
  border-radius: 10%;
}

.timeline_title {
  margin: 0;
  font-size: 1.15em;
}

.timeline_paragraph {
  line-height: 1.5;
}

.timeline_component_bottom {
  margin-bottom: 0;
}

@keyframes underline_fade_in {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 70%,
      #4ee0554f 50%
    );
  }
}