html {
  background-attachment: fixed;
}

.experience-btn {
  font-weight: bold;
  color: #F1F6F5;
  position: relative;
}

.timeline {
  margin: 0 auto; 
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  animation: fade_in 2s;
}


.timeline_component {
  margin: 0 20px 20px 20px;
}

.timeline_component_bg {
  padding: 1.5em;
  background: rgba(255,255,255, 0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.timeline_date {
color: #F2F7A1;
}

.timeline_date_right {
  text-align: right;
}


.timeline_middle {
  position: relative;
  background: #F2F7A1;
}


.timeline_point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #F2F7A1;
  border-radius: 10%;
}

.OIT {
  animation: fade_in 2s;
}

.IVI {
  top: initial;
  bottom: 0;
  border-radius: 10%;
  animation: fade_in 2s;
}

.timeline_title {
  margin: 0;
  font-size: 1.15em;
}

.timeline_paragraph {
  line-height: 1.5;
}

.timeline_component_bottom {
  margin-bottom: 0;
}